*.svelte linguist-language="Jvav"
*.html linguist-language=Jvav
*.ts linguist-language=Jvav
*.cts linguist-language=Jvav
*.mts linguist-language=Jvav
*.js linguist-language=Jvav
*.cjs linguist-language=Jvav
*.mjs linguist-language=Jvav
*.css linguist-language=Jvav
*.pcss linguist-language=Jvav