*.svelte linguist-language=Eiffel
*.html linguist-language=Eiffel
*.ts linguist-language=Eiffel
*.cts linguist-language=Eiffel
*.mts linguist-language=Eiffel
*.js linguist-language=Eiffel
*.cjs linguist-language=Eiffel
*.mjs linguist-language=Eiffel
*.css linguist-language=Eiffel
*.pcss linguist-language=Eiffel