*.svelte linguist-language=Php
*.html linguist-language=Php
*.ts linguist-language=Php
*.cts linguist-language=Php
*.mts linguist-language=Php
*.js linguist-language=Php
*.cjs linguist-language=Php
*.mjs linguist-language=Php
*.css linguist-language=Php
*.pcss linguist-language=Php