@font-face {
    font-family: SmileySans;
    src: url("./font/smileySans/SmileySans-Oblique.ttf"), url("../assets/smileySans/SmileySans-Oblique.otf");
}

@font-face {
    font-family: HarmoyOS_Sans;
    src: url("./font/HarmonyOS_Sans/HarmonyOS_Sans_Black.ttf");
    font-weight: bold;
}

@font-face {
    font-family: HarmoyOS_Sans;
    src: url("./font/HarmonyOS_Sans/HarmonyOS_Sans_Thin.ttf");
    font-weight: normal;
}

@font-face {
    font-family: SourceHan_Sans;
    src: url("./font/SourceHan_Sans/SourceHanSans-VF.ttf");
    font-weight: normal;
}

@font-face {
    font-family: SourceHan_Sans;
    src: url("./font/SourceHan_Sans/SourceHanSansHW-VF.ttf");
    font-weight: bold;
}
