html, body, main, #app {
    height: 100%;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
    border: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff6;
    border-radius: 5px;
}