@font-face {
  font-family: "iconfont"; /* Project id 3869135 */
  src: url('iconfont.woff2?t=1674564871512') format('woff2'),
       url('iconfont.woff?t=1674564871512') format('woff'),
       url('iconfont.ttf?t=1674564871512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-genggaizhuwendang:before {
  content: "\e66d";
}

.icon-qiehuan:before {
  content: "\e656";
}

